#map {
    display: block;
    position: absolute; 
    display: inline-block;
    top:4%; 
    bottom:0; 
    left:1%; 
    right: 0;
    width: 35%;
    height: 45%;
    border:solid 1px;
    border-radius:20px;
}
#quantidadeDisplay {
    position: absolute;
    top: 4%;
    left:40%;
    width: 20%;
    border-radius: 20px;
    border: 2px solid rgb(0, 0, 0);
}
#grafico_1 {
    position: absolute;
    display: inline-block;
    top: 2%;
    left: 60%;
    width: 38%;
    height: 500px;
}
#grafico_2 {
    position: absolute;
    display: inline-block;
    top: 81%;
    width: 40%;
    height: 500px;
}
#grafico_3 {
    position: absolute;
    display: inline-block;
    top: 81%;
    left: 50%;
    width: 40%;
    height: 500px;
}  
#grafico_4 {
    position: absolute;
    display: inline-block;
    top: 170%;
    width: 40%;
    height: 500px;
}
#grafico_5 {
    position: absolute;
    display: inline-block;
    top: 170%;
    left: 50%;
    width: 40%;
    height: 500px;
}
#tabela_1{
    position: absolute;
    display: inline-block;
    width: 40%;
    height: 100%;
    top: 250%;
    left: 30%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
table {
    table-layout: fixed;
    width: 100%;
    border-radius: 20px;
    border: 2px solid rgb(0, 0, 0);
}
th, td {
padding: 20px;
}
.medicamento-tabela{
    color: #008dc0;
    cursor: pointer;
}